{% extends 'base.jinja2' %}
{% block subtitle %}Update Donor Info{% endblock subtitle %}

{% block content %}
<form method = "POST">
<label for="donor-name">Donor Name:</label><input id="donor-name" type="text" name="name"><br>
<label for="donation">Donation Amount:</label><input id="donation" type="number" name="donation"><br>
<input type="submit" value="Submit">
</form>

{% endblock content %}